.container {
  position: relative;
  display: block;
}
.input {
  font-size: 1.7em;
  padding: 2.8rem 1.8rem 0.6rem;
  letter-spacing: -0.4px;
  border: 2px solid var(--gray-1);
  border-radius: 7px;
  color: var(--dark);
  width: 100%;
}

.input:focus {
  border-color: var(--dark);
}

.label {
  position: absolute;
  left: 0;
  display: inline-block;
  padding: calc(1.8rem + 2px);
  top: 0;
  vertical-align: bottom;
  font-size: 1.7rem;

  letter-spacing: -0.4px;
  color: var(--gray-1);
  transform-origin: calc(1.8rem + 2px) 0;
  transition: transform 120ms ease-in;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  transform: translate(0, -0.3rem) scale(0.7);
  color: var(--gray-1);
}
