@import "./../../variables";
.container {
  position: relative;
  display: block;
}
.input {
  font-size: 1.7em;
  padding: 2.8rem 1.8rem 0.6rem;
  letter-spacing: -0.4px;
  border: 2px solid $gray-1;
  border-radius: 7px;
  color: $dark;
  width: 100%;
  transition: border-color 0.3s ease-out;

  &:focus,
  &:not(:placeholder-shown) {
    border: 2px solid $dark;
    outline: none;

    + .label {
      transform: translate(0, -0.3rem) scale(0.7);

      @media screen and (max-width: 297px) {
        transform: translate(0, 0.3rem) scale(0.7);
        color: $gray-1;
      }
      @media screen and (min-width: 13rem) {
        white-space: nowrap;
      }
    }
  }
}

.label {
  position: absolute;
  left: 0;
  display: inline-block;
  padding: calc(1.8rem + 2px);
  top: 0;
  vertical-align: bottom;
  font-size: 1.7rem;

  letter-spacing: -0.4px;
  color: $gray-1;
  transform-origin: calc(1.8rem + 2px) 0;
  transition: transform 120ms ease-in;

  @media screen and (max-width: 297px) {
    top: -10px;
  }
}
