.button {
  border: 0;
  border-radius: 7px;
  padding: 1.8rem 1.8rem;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
}
.button--wide {
  width: 100%;
}
.button--dark {
  background-color: var(--dark);
  color: var(--white);
}

.button--gray {
  background-color: var(--gray-2);
}

.button--red {
  background-color: var(--red-error);
}
