.container {
  flex-direction: column;
  position: relative;
}
.select {
  display: inline-block;
  width: 100%;
  border-radius: 7px;
  font-size: 1.7rem;
  letter-spacing: -0.4px;
}
.select::first-letter {
  text-transform: capitalize;
}

.closed {
  color: var(--gray-1);
  border: 2px solid var(--gray-1);
  padding: 1.8rem 1.8rem 1.6rem;
}
.open {
  display: inline-block;
  width: 100%;
  position: absolute;
  border-radius: 7px;
  padding: 0rem 1rem 1rem;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: var(--white);
  border: 2px solid var(--gray-1);
}
.cancelButton {
  padding: 1.8rem 0 1.6rem 0.8rem;
  color: var(--gray-1);
}
.radio {
  display: none;
}
.option {
  color: var(--dark);
  padding: 1.8rem 0.8rem 1.6rem;
}

.option:hover {
  background-color: var(--gray-1);
  font-weight: 500;
}

.dark {
  color: var(--dark);
  border-color: var(--dark);
  font-weight: 500;
}
