.container {
  border: 2px solid var(--gray-1);
  border-radius: 7px;
  background-color: var(--white);
  flex-direction: column;
  padding: 0 0.8rem;
}
.container--dark {
  border-color: var(--dark);
}

.options {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.current {
  display: inline-block;
  width: 100%;
  font-size: 1.7rem;
  padding: 1.8rem 1rem 1.6rem;
  letter-spacing: -0.4px;
  color: var(--gray-1);
}
.current::first-letter {
  text-transform: capitalize;
}
.container--dark > .current {
  color: var(--dark);
}
.radio {
  display: none;
}
.option {
  display: inline-block;
  font-size: 1.7rem;
  padding: 1.8rem 1rem 1.6rem;
  letter-spacing: -0.4px;
  border-radius: 7px;
  color: var(--dark);
  width: 100%;
}
.option::first-letter {
  text-transform: capitalize;
}

.option:hover {
  background-color: var(--gray-1);
  font-weight: 500;
}
