@import "./../../variables";
.container {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: $gray-2;
  height: 5.3rem;
  max-width: 20rem;
  margin: auto;
  border-radius: 7px;
  &.outOfRange {
    background-color: $red-error;
  }
}

.input {
  font-size: 1.7em;
  letter-spacing: -0.4px;
  text-align: center;
  border: none;
  color: $dark;
  border: none;
  width: 100%;

  background-color: transparent;
  &:focus {
    border: none;
    outline: none;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  &[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
}

.sign {
  width: 60%;
  height: 100%;
  max-width: 2.5rem;
}
.signContainer {
  padding: 0 0.4px;

  background-color: transparent;
  &:hover {
    .horizontalPath {
      transform: scaleY(3);
    }

    .verticalPath {
      transform: scaleX(3);
    }

    .circleBackground {
      opacity: 0.2;
      stroke-width: 0;
    }
  }
}

.circleBackground {
  fill: black;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.verticalPath {
  transform-origin: 22px 0px;
  transition: transform 0.3s ease-in-out;
}
.horizontalPath {
  transform-origin: 0px 22px;
  transition: transform 0.3s ease-out;
}
