.container {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--gray-2);
  height: 5.3rem;
  max-width: 20rem;
  margin: auto;
  border-radius: 7px;
}
.input {
  font-size: 1.7em;
  letter-spacing: -0.4px;
  background-color: var(--gray-2);
  text-align: center;
  border: none;
  color: var(--dark);
  border: none;

  width: 100%;
}
input:focus {
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.sign {
  width: 2.5rem;
  height: 2.5rem;
}
.sign_container {
  padding: 0 0.4px;
}

.circleBackground {
  fill: var(--gray-1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.verticalPath {
  transform-origin: 22px 0px;
  transition: transform 0.3s ease-in-out;
}
.horizontalPath {
  transform-origin: 0px 22px;
  transition: transform 0.3s ease-out;
}
.sign_container:hover .horizontalPath {
  transform: scaleY(3);
}

.sign_container:hover .verticalPath {
  transform: scaleX(3);
}

.sign_container:hover .circleBackground {
  opacity: 1;
  stroke-width: 0;
}
