@import "variables";
.container {
  max-width: 555px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image {
  height: 130px;
  margin-bottom: 1rem;
}

.chuck {
  background-size: cover;
  background-image: url("assets/images/Chuck.jpg");
  background-position: 0px -30px;

  @media screen and (max-width: 440px) {
    background-position: 0px 0px;
  }
}
.unknown {
  background-image: url("assets/images/unknown_person.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.joke {
  font-style: italic;
  font-weight: 600;
  color: $dark;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  overflow-wrap: break-word;
  &::before,
  &::after {
    content: '"';
  }
}

.downloads {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .formError {
    font-size: 1.8rem;
    font-weight: 600;
    color: $red-error;
    grid-column: 1 / -1;
  }
}

.loadError {
  font-size: 1.8rem;
  font-weight: 600;
  color: $red-error;
}
