@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");
:root {
  --gray-2: #f5f6f8;
  --white: #fff;
  --red-error: #f39a9a;
  --gray-1: #c4c4c4;
  --dark: #34394f;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--gray-2);
}
